<!DOCTYPE html>
<html lang="en">
<head>
		<title>HELPLINE</title>
			<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
</head>
<body>
		<center>
				<h1>Link Path Finder</h1>
				<h2>HELPLINE</h2>
				<img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
				<p>using this tool we have made u easy to find the end url and the ridirected chain of a shortened or redirected url.</p><br>
				<button><a href="/">Home</a></button>
		</center>
		<hr>
		
		<label>Give This A Star On <a href="https://github.com/Phoenix-1124/L-Path" id="contacts">Github</a></label><br>
		<label>Contact Me Via <a href="https://Wa.me/+94711806353" id="contacts">Whatsapp</a></label>
</body>
</html>
